/*   Krell1983 RWD Frame Work Version 1.0   */

.Grid_Row{
overflow:hidden;
}

/****** XS Extra Small ******/
.XS_Grid_1x8{
width: 12.499999%;    
float:left;      
}    
    
.XS_Grid_1x1{
    width: 99.9999%;    
    float:left;
}

.XS_Grid_3x8{
    width: 37.4999%; 
    float:left;
} 

.XS_Grid_5x8{
    width: 62.4999%; 
    float:left;
} 
    
.XS_Grid_7x8{
    width: 87.4999%; 
    float:left;
}

.XS_Grid_1x2, .XS_Grid_2x4, .XS_Grid_3x6, .XS_Grid_4x8, .XS_Grid_6x12{
    width:49.99999%;  
    float:left;    
}

.XS_Grid_3x4, .XS_Grid_6x8, .XS_Grid_9x12{    
    width:74.99999%;   
    float:left;      
}
    
.XS_Grid_5x12{
    width:41.66666%;
    float:left;
}
    
.XS_Grid_7x12{
    width:58.33333%;
    float:left;
}

.XS_Grid_1x3, .XS_Grid_2x6, .XS_Grid_4x12{
    width:33.33333%;    
    float:left;
}

.XS_Grid_2x3, .XS_Grid_4x6, .XS_Grid_8x12{
    width:66.66666%; 
    float:left;    
}

.XS_Grid_1x4, .XS_Grid_2x8, .XS_Grid_3x12{
    width:24.99999%;    
    float:left;    
}
    
    
.XS_Grid_5x6, .XS_Grid_10x12{
    width:83.33333%;    
    float:left;
}     
       
.XS_Grid_1x12{
    width:8.33333%;    
    float:left;   
}

.XS_Grid_2x12, .XS_Grid_1x6{
    width:16.66666%;    
    float:left;   
}

.XS_Grid_11x12{
    width:91.66666%;    
    float:left;   
}

/****** END XS Extra Small ******/



/****** SM Large ******/
@media screen and (min-width: 350px){
 
.S_Grid_1x8{
width: 12.499999%;    
float:left;      
}    
    
.S_Grid_1x1{
    width: 99.9999%;    
    float:left;
}

.S_Grid_3x8{
    width: 37.4999%; 
    float:left;
} 

.S_Grid_5x8{
    width: 62.4999%; 
    float:left;
} 
    
.S_Grid_7x8{
    width: 87.4999%; 
    float:left;
}

.S_Grid_1x2, .S_Grid_2x4, .S_Grid_3x6, .S_Grid_4x8, .S_Grid_6x12{
    width:49.99999%;  
    float:left;    
}

.S_Grid_3x4, .S_Grid_6x8, .S_Grid_9x12{    
    width:74.99999%;   
    float:left;      
}
    
.S_Grid_5x12{
    width:41.66666%;
    float:left;
}
    
.S_Grid_7x12{
    width:58.33333%;
    float:left;
}

.S_Grid_1x3, .S_Grid_2x6, .S_Grid_4x12{
    width:33.33333%;    
    float:left;
}

.S_Grid_2x3, .S_Grid_4x6, .S_Grid_8x12{
    width:66.66666%; 
    float:left;    
}

.S_Grid_1x4, .S_Grid_2x8, .S_Grid_3x12{
    width:24.99999%;    
    float:left;    
}
    
.S_Grid_1x6, .S_Grid_2x12{
    width:16.66666%;    
    float:left;
}  
    
.S_Grid_5x6, .S_Grid_10x12{
    width:83.33333%;    
    float:left;
}     
       
.S_Grid_1x12{
    width:8.33333%;    
    float:left;   
}


.S_Grid_11x12{
    width:91.66666%;    
    float:left;   
}

}
/****** SM Large ******/



/****** SM Large ******/
@media screen and (min-width: 500px){
 
.SM_Grid_1x8{
width: 12.499999%;    
float:left;      
}    
    
.SM_Grid_1x1{
    width: 99.9999%;    
    float:left;
}

.SM_Grid_3x8{
    width: 37.4999%; 
    float:left;
} 

.SM_Grid_5x8{
    width: 62.4999%; 
    float:left;
} 
    
.SM_Grid_7x8{
    width: 87.4999%; 
    float:left;
}

.SM_Grid_1x2, .SM_Grid_2x4, .SM_Grid_3x6, .SM_Grid_4x8, .SM_Grid_6x12{
    width:49.99999%;  
    float:left;    
}

.SM_Grid_3x4, .SM_Grid_6x8, .SM_Grid_9x12{    
    width:74.99999%;   
    float:left;      
}
    
.SM_Grid_5x12{
    width:41.66666%;
    float:left;
}
    
.SM_Grid_7x12{
    width:58.33333%;
    float:left;
}

.SM_Grid_1x3, .SM_Grid_2x6, .SM_Grid_4x12{
    width:33.33333%;    
    float:left;
}

.SM_Grid_2x3, .SM_Grid_4x6, .SM_Grid_8x12{
    width:66.66666%; 
    float:left;    
}

.SM_Grid_1x4, .SM_Grid_2x8, .SM_Grid_3x12{
    width:24.99999%;    
    float:left;    
}
    
.SM_Grid_1x6, .SM_Grid_2x12{
    width:16.66666%;    
    float:left;
}  
    
.SM_Grid_5x6, .SM_Grid_10x12{
    width:83.33333%;    
    float:left;
}     
       
.SM_Grid_1x12{
    width:8.33333%;    
    float:left;   
}

.SM_Grid_11x12{
    width:91.66666%;    
    float:left;   
}

}
/****** SM Large ******/




/****** M Large ******/
@media screen and (min-width: 650px){
 
.M_Grid_1x8{
width: 12.499999%;    
float:left;      
}    
    
.M_Grid_1x1{
    width: 99.9999%;    
    float:left;
}

.M_Grid_3x8{
    width: 37.4999%; 
    float:left;
} 

.M_Grid_5x8{
    width: 62.4999%; 
    float:left;
} 
    
.M_Grid_7x8{
    width: 87.4999%; 
    float:left;
}

.M_Grid_1x2, .M_Grid_2x4, .M_Grid_3x6, .M_Grid_4x8, .M_Grid_6x12{
    width:49.99999%;  
    float:left;    
}

.M_Grid_3x4, .M_Grid_6x8, .M_Grid_9x12{    
    width:74.99999%;   
    float:left;      
}
    
.M_Grid_5x12{
    width:41.66666%;
    float:left;
}
    
.M_Grid_7x12{
    width:58.33333%;
    float:left;
}

.M_Grid_1x3, .M_Grid_2x6, .M_Grid_4x12{
    width:33.33333%;    
    float:left;
}

.M_Grid_2x3, .M_Grid_4x6, .M_Grid_8x12{
    width:66.66666%; 
    float:left;    
}

.M_Grid_1x4, .M_Grid_2x8, .M_Grid_3x12{
    width:24.99999%;    
    float:left;    
}
    
.M_Grid_1x6{
    width:16.66666%;    
    float:left;
}  
    
.M_Grid_5x6, .M_Grid_10x12{
    width:83.33333%;    
    float:left;
}     
       
.M_Grid_1x12{
    width:8.33333%;    
    float:left;   
}

.M_Grid_2x12{
    width:16.66666%;    
    float:left;   
}

.M_Grid_11x12{
    width:91.66666%;    
    float:left;   
}

}
/****** M Large ******/






/****** ML Large ******/
@media screen and (min-width: 800px){
 
.ML_Grid_1x8{
width: 12.499999%;    
float:left;      
}    
    
.ML_Grid_1x1{
    width: 99.9999%;    
    float:left;
}

.ML_Grid_3x8{
    width: 37.4999%; 
    float:left;
} 

.ML_Grid_5x8{
    width: 62.4999%; 
    float:left;
} 
    
.ML_Grid_7x8{
    width: 87.4999%; 
    float:left;
}

.ML_Grid_1x2, .ML_Grid_2x4, .ML_Grid_3x6, .ML_Grid_4x8, .ML_Grid_6x12{
    width:49.99999%;  
    float:left;    
}

.ML_Grid_3x4, .ML_Grid_6x8, .ML_Grid_9x12{    
    width:74.99999%;   
    float:left;      
}
    
.ML_Grid_5x12{
    width:41.66666%;
    float:left;
}
    
.ML_Grid_7x12{
    width:58.33333%;
    float:left;
}

.ML_Grid_1x3, .ML_Grid_2x6, .ML_Grid_4x12{
    width:33.33333%;    
    float:left;
}

.ML_Grid_2x3, .ML_Grid_4x6, .ML_Grid_8x12{
    width:66.66666%; 
    float:left;    
}

.ML_Grid_1x4, .ML_Grid_2x8, .ML_Grid_3x12{
    width:24.99999%;    
    float:left;    
}
    
.ML_Grid_1x6{
    width:16.66666%;    
    float:left;
}  
    
.ML_Grid_5x6, .ML_Grid_10x12{
    width:83.33333%;    
    float:left;
}     
       
.ML_Grid_1x12{
    width:8.33333%;    
    float:left;   
}

.ML_Grid_2x12{
    width:16.66666%;    
    float:left;   
}

.ML_Grid_11x12{
    width:91.66666%;    
    float:left;   
}

}
/****** ML Large ******/









/****** L Large ******/
@media screen and (min-width: 1000px){
 
.L_Grid_1x8{
width: 12.499999%;    
float:left;      
}    
    
.L_Grid_1x1{
    width: 99.9999%;    
    float:left;
}

.L_Grid_3x8{
    width: 37.4999%; 
    float:left;
} 

.L_Grid_5x8{
    width: 62.4999%; 
    float:left;
} 
    
.L_Grid_7x8{
    width: 87.4999%; 
    float:left;
}

.L_Grid_1x2, .L_Grid_2x4, .L_Grid_3x6, .L_Grid_4x8, .L_Grid_6x12{
    width:49.99999%;  
    float:left;    
}

.L_Grid_3x4, .L_Grid_6x8, .L_Grid_9x12{    
    width:74.99999%;   
    float:left;      
}
    
.L_Grid_5x12{
    width:41.66666%;
    float:left;
}
    
.L_Grid_7x12{
    width:58.33333%;
    float:left;
}

.L_Grid_1x3, .L_Grid_2x6, .L_Grid_4x12{
    width:33.33333%;    
    float:left;
}

.L_Grid_2x3, .L_Grid_4x6, .L_Grid_8x12{
    width:66.66666%; 
    float:left;    
}

.L_Grid_1x4,.L_Grid_2x8, .L_Grid_3x12{
    width:24.99999%;    
    float:left;    
}
    
.L_Grid_1x6, .L_Grid_2x12{
    width:16.66666%;    
    float:left;
}  
    
.L_Grid_5x6, .L_Grid_10x12{
    width:83.33333%;    
    float:left;
}     
       
.L_Grid_1x12{
    width:8.33333%;    
    float:left;   
}

.L_Grid_11x12{
    width:91.66666%;    
    float:left;   
}

}
/****** L Large ******/









/****** XL Extra Large ******/
@media screen and (min-width: 1200px){
 
.XL_Grid_1x8{
width: 12.499999%;    
float:left;      
}    
    
.XL_Grid_1x1{
    width: 99.9999%;    
    float:left;
}

.XL_Grid_3x8{
    width: 37.4999%; 
    float:left;
} 

.XL_Grid_5x8{
    width: 62.4999%; 
    float:left;
} 
    
.XL_Grid_7x8{
    width: 87.4999%; 
    float:left;
}

.XL_Grid_1x2, .XL_Grid_2x4, .XL_Grid_3x6, .XL_Grid_4x8, .XL_Grid_6x12{
    width:49.99999%;  
    float:left;    
}

.XL_Grid_3x4, .XL_Grid_6x8, .XL_Grid_9x12{    
    width:74.99999%;   
    float:left;      
}
    
.XL_Grid_5x12{
    width:41.66666%;
    float:left;
}
    
.XL_Grid_7x12{
    width:58.33333%;
    float:left;
}

.XL_Grid_1x3, .XL_Grid_2x6, .XL_Grid_4x12{
    width:33.33333%;    
    float:left;
}

.XL_Grid_2x3, .XL_Grid_4x6, .XL_Grid_8x12{
    width:66.66666%; 
    float:left;    
}

.XL_Grid_1x4,.XL_Grid_2x8, .XL_Grid_3x12{
    width:24.99999%;    
    float:left;    
}
    
.XL_Grid_1x6, .XL_Grid_2x12{
    width:16.66666%;    
    float:left;
}  
    
.XL_Grid_5x6, .XL_Grid_10x12{
    width:83.33333%;    
    float:left;
}     
       
.XL_Grid_1x12{
    width:8.33333%;    
    float:left;   
}

.XL_Grid_11x12{
    width:91.66666%;    
    float:left;   
}

}
/****** XL Extra Large ******/